@charset "utf-8";
/* CSS Document */

/*************************************************
             typography & general
**************************************************/

h1 {
	text-transform: uppercase;
	font-family: 'Maven Pro', sans-serif;
	font-size: 80px;
	font-weight: 900;
	line-height: 80px;
	color: #e1dfdf;
}

span.cursive {
	font-family: 'Marck Script', cursive;
	font-size: 32px;
	font-weight: 700;
	text-transform: none;
}

span.small {
	font-family: 'Maven Pro', sans-serif;
	font-size: 100px;
	font-weight: 700;
}

h2 {
	text-transform: uppercase;
	font-family: 'Maven Pro', sans-serif;
	font-size: 32px;
	font-weight: 700;
	color: #4d4c4c;
}

h3 {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #ae7dc4;
}

h4 {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #565555;
}

h5 {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #fff;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #2e2e2e;
}

a:link {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: #3e3e3e;
}

a:visited {
	color: #3e3e3e;
}

a:hover {
	color: #b46b6b;
}

.title {
	width: 100%;
	border-bottom: 1px solid #dedddd;
	margin: 50px 0 40px 0;
	padding-bottom: 10px;
	position: relative;
	z-index: 500;
}

.subtitle {
	margin-bottom: 45px;
	position: relative;
	z-index: 500;
}

.subtitle p {
	background: #fff;
	padding: 15px;
	color: #767676;
}



/*************************************************
                     header
**************************************************/

header {
	background: #fff;
	width: 100%;
	height: 86px;
	position: relative;
	z-index: 900;

}

.name {
	padding-top: 28px;
	text-align: center;
	margin: 0 auto;
}

.name p {
	font-family: 'Marck Script', cursive;
	font-weight: normal;
	font-size: 90px;
	text-transform: capitalize;
	color: #414141;
}



/*************************************************
                       nav
**************************************************/

nav {
	text-align: center;
	z-index: 1000;
	height: 38px;
	background: #fff;
	width: 100%;
	-webkit-box-shadow: 0px 2px 1px 0px #a09f9f;
	-moz-box-shadow: 0px 2px 1px 0px #a09f9f;
	box-shadow: 0px 2px 1px 0px #a09f9f;
	position: relative;
}

.color_bar {
	width: 100%;
	height: 3px;
	background: #ae7dc4;
	position: relative;
	z-index: 900;
}

nav ul, nav li {
	line-height: 105px;
	margin-top: -30px;
}

nav ul li {
	display: inline;
	vertical-align: top;
	padding-top: 6px;
}

nav a:link {
	text-decoration: none;
	color: #3e3e3e;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

nav a:visited {
	color: #3e3e3e;
}

nav a:hover {
	color: #b46b6b;
}

span.logo {
	display: inline-block;
	background: url(../img/logo.png) no-repeat 0 0;
	width: 105px;
	height: 105px;
	margin-top: -10px;
	vertical-align: middle;
	z-index: 1000;
	position: relative;
	font-family: 'Vollkorn', Helvetica, Arial, serif;
	color: #fff;
	font-weight: normal;
	font-size: 100px;
	text-transform: none;
}



/*************************************************
                      #intro
**************************************************/

#intro {
	height: 620px;
	background: url(../img/intro_bg.png) repeat fixed;
	margin: 0;
	padding: 0;
	text-align: center;
	position: relative;
}

#intro h1 {
	z-index: 500;
	position: relative;
	padding-top: 50px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

span.intro_line {
	width: 355px;
	height: 2px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	margin: 0 15px 0 15px;
}

span.intro_line2 {
	width: 900px;
	height: 15px;
	border-bottom: 2px solid #fff;
	display: inline-block;
	vertical-align: text-top;
}


/*************** parallax elements ***************/

#intro .bg1 {
	background: url(../img/intro_bg1.png) 50% 0 repeat-x fixed; /*1*/
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	height: 620px;
	z-index: 300;
}

#intro .bg2 {
	background: url(../img/intro_bg2.png) 50% 0 repeat-x fixed; /*2*/
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	height: 620px;
	z-index: 300;
}

#intro .bg3 {
	background: url(../img/intro_bg3.png) 50% 0 repeat-x fixed; /*3*/
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	height: 620px;
	z-index: 300;
}



/*************************************************
                       #work
**************************************************/

#work {
	background: url(../img/work_bg.png) repeat;
	width: 100%;
	height: 1150px;
	margin: 0 auto;
	overflow: hidden;
	z-index: 400;
	padding: 0;
	position: relative;
	z-index: 500;
	-moz-box-shadow: 0px -2px 3px 0px #5a5a5a;
	-webkit-box-shadow: 0px -2px 3px 0px #5a5a5a;
	box-shadow: 0px -2px 3px 0px #5a5a5a;
	border-bottom: 2px dashed #a3a1a1;
}

.gallery {
	margin-top: 90px;
	text-align: center;
}

.caption {
	border-bottom: 1px solid #bcbcbc;
	width: 280px;
	margin: 0 auto;
}

.caption p {
	background: #fff;
	padding: 10px;
	color: #434343;
}

.center {
	margin: 0 auto;
}

.ss:hover {
	opacity: 0.6;
}

.ss:hover {}

.spacer {
	margin-bottom: 30px;
}

.screenshot1 {
	background: url("../img/screenshot1.png") no-repeat 0 0;
	width: 280px;
	height: 180px;
}

.screenshot2 {
	background: url("../img/screenshot2.png") no-repeat 0 0;
	width: 280px;
	height: 180px;
}

.screenshot3 {
	background: url("../img/screenshot3.png") no-repeat 0 0;
	width: 280px;
	height: 180px;
}

.screenshot4 {
	background: url("../img/screenshot4.png") no-repeat 0 0;
	width: 280px;
	height: 180px;
}

.screenshot5 {
	background: url("../img/screenshot5.png") no-repeat 0 0;
	width: 280px;
	height: 180px;
}

.screenshot6 {
	background: url("../img/screenshot6.png") no-repeat 0 0;
	width: 280px;
	height: 180px;
}

.screenshot7 {
	background: url("../img/screenshot4.png") no-repeat 0 0;
	width: 280px;
	height: 180px;
}

.screenshot8 {
	background: url("../img/screenshot5.png") no-repeat 0 0;
	width: 280px;
	height: 180px;
}

.screenshot9 {
	background: url("../img/screenshot6.png") no-repeat 0 0;
	width: 280px;
	height: 180px;
}

.screenshot10 {
	background: url("../img/screenshot10.png") no-repeat 0 0;
	width: 280px;
	height: 180px;
}

.screenshot15 {
	background: url("../img/screenshot8.png") no-repeat 0 0;
	width: 280px;
	height: 180px;
}

.screenshot16 {
	background: url("../img/screenshot9.png") no-repeat 0 0;
	width: 280px;
	height: 180px;
}

/*************************************************
                     #services
**************************************************/

#services {
	background: #fff;
	width: 100%;
	height: 700px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	position: relative;
	z-index: 500;
	border-bottom: 2px dashed #a3a1a1;
}


#services .subtitle {
	border: 1px solid #efefef;
}

.icons {
	text-align: center;
}

.icons h3 {
	margin-top: 20px;
}

.icons p {
	margin-top: 15px;
	font-size: 16px;
	color: #6e6d6d;
}

.service1 {
	background: url(../img/service1.png) no-repeat 0 0;
	width: 166px;
	height: 166px;
	text-align: left;
	margin: 0 auto;
}

.service2 {
	background: url(../img/service2.png) no-repeat 0 0;
	width: 166px;
	height: 166px;
	text-align:left;
	margin: 0 auto;
}

.service3 {
	background: url(../img/service3.png) no-repeat 0 0;
	width: 166px;
	height: 166px;
	text-align: left;
	margin: 0 auto;
}

.service4 {
	background: url(../img/service4.png) no-repeat 0 0;
	width: 166px;
	height: 166px;
	text-align: left;
	margin: 0 auto;
}

.serv:hover {
	opacity: 0.7;
}



/*************************************************
                     #about
**************************************************/

#about {
	background: url(../img/work_bg.png) repeat;
	width: 100%;
	height: 620px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	position: relative;
	z-index: 500;
}

#about h4 {
	margin-bottom: 20px;
}

.about_me p {
	margin-bottom: 15px;
	color: #363636;
}

span.bullet {
	width: 5px;
	height: 16px;
	display: inline-block;
	background-color: #ae7dc4;
	margin-right: 6px;
}


/*************** skills ***************/

.skills p {
	color: #fff;
	font-size: 15px;
	padding: 4px 0  0 7px;
}

.skill1 {
	width: 330px;
	height: 29px;
	background-color: #a973c1;
}

.skill2 {
	width: 300px;
	height: 29px;
	background-color: #ae7dc4;
	margin-top: 12px;
}

.skill3 {
	width: 280px;
	height: 29px;
	background-color: #b888ce;
	margin-top: 12px;
}

.skill4 {
	width: 230px;
	height: 29px;
	background-color: #bf91d5;
	margin-top: 12px;
}

.skill5 {
	width: 210px;
	height: 29px;
	background-color: #c89ddd;
	margin-top: 12px;
}

.sk:hover {
	opacity: 0.7;
}

/*************** social ***************/

.social ul li {
	margin-bottom: 10px;
}

.social img {
	margin-right: 4px;
}

.social a:link {
	text-transform: uppercase;
	display: inline-block;
	font-size: 15px;
	font-weight: 300;
	color: #363636;
	vertical-align: middle;
}

.social a:hover {
	opacity: 0.6;
}



/*************************************************
                     #contact
**************************************************/

#contact {
	background: url(../img/contact_bg.jpg) repeat fixed;
	width: 100%;
	height: 720px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	position: relative;
}


/*************** parallax elements ***************/

#contact .bg1 {
	background: url(../img/footer_bg1.png) 50% 0 repeat-x fixed;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	height: 720px;
	z-index: 300;
}

#contact .bg2 {
	background: url(../img/footer_bg2.png) 50% 0 repeat-x fixed;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	height: 720px;
	z-index: 300;
}

#contact .bg3 {
	background: url(../img/footer_bg3.png) 50% 0 repeat-x fixed;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 100%;
	height: 220px;
	z-index: 300;
}


#contact h2 {
	color: #fff;
	position: relative;
	z-index: 500;
}


/*************** contact form ***************/

.contact_form {
	position: relative;
	z-index: 500;
}

.contact_form p {
	color: #f0eeee;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 4px;
}

span.bullet2 {
	width: 6px;
	height: 11px;
	display: inline-block;
	background-color: #ae7dc4;
	margin-right: 4px;
}

span.bullet3 {
	width: 6px;
	height: 11px;
	display: inline-block;
	background-color: #ae7dc4;
	margin-left: 4px;
	margin-right: 4px;
}


/*************** contact info ***************/

.contact_info {
	margin-top: 10px;	
	position: relative;
	z-index: 500;
	width: 240px;
}

.contact_info h5 {
	margin-bottom: 18px;
}

.contact_info img {
	margin-right: 10px;
	vertical-align: baseline;
}

.contact_info p {
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 10px;
}



.contact_info p a:link {
font-family: 'Open Sans', sans-serif;
text-decoration: none;
color: #fff;
}

.contact_info p a:hover {
font-family: 'Open Sans', sans-serif;
text-decoration: none;
color: # 90C;
}

.contact_info p a:visited {
color: #ccc;
}

span.address {
	margin-left: 32px;
}

.map_frame {
	margin-left: 5px;
	margin-top: 17px;
	-webkit-box-shadow: 0px 0px 0px 7px #f0f0ef;
	-moz-box-shadow: 0px 0px 0px 7px #f0f0ef;
	box-shadow: 0px 0px 0px 7px #f0f0ef;
	position: relative;
	z-index: 500;
}


/*************** pixels counter ***************/

.pixels {
	position: relative;
	z-index: 600;
	margin-top: 70px;
	text-align: right;
}

.pixels p {
	color: #fff;
}


/*************** copyright ***************/

.copyright {
	position: relative;
	z-index: 600;
	text-align: center;
	margin-top: 25px;
	
}

.copyright p {
	color: #c8c8c8;
	font-size: 14px;
}


/*************** responsive contact form at header ***************/
#contact_form2 { position: relative;
}



